<!DOCTYPE html>
<html>
<footer> 
    <nav>
        <a href="https://github.com/cbgb704">GitHub</a> |
        <a href="https://cbgb704.github.io/">GitHub.io</a> |
        <a href="https://cbgb704.github.io/web215/">WEB215.io</a> |
        <a href="https://www.codecademy.com/profiles/cbgb704">Codecademy</a> |  
        <a href="https://www.freecodecamp.org/cbgb704">freeCodeCamp</a> |
        <a href="https://jsfiddle.net/u/cbgb704/fiddles/">JSFiddle</a> |
        <a href="https://www.linkedin.com/in/connor-emery-b68708323/">LinkedIn</a>
    </nav>
    <p><em>Designed by Connor Emery - Certified in <a href="https://www.freecodecamp.org/certification/cbgb704/responsive-web-design">Responsive Web Design</a> &amp; <a href="https://www.freecodecamp.org/certification/cbgb704/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms/Data Structures</a></em></p>
</footer>
</html>