<!DOCTYPE html>
<html>
    <header> 
            <div class="logo-container">
    <img src="/web215/images/logoemu.jpg" alt="Cheeky Emu Logo" class="site-logo">
    <h1>Connor Emery's Cheeky Emu ~ <span>WEB215</span></h1>
  </div>
            <nav>
                <a href="/web215/index.html">Home</a> |
                <a href="/web215/introduction.html">Introduction</a> |
                <a href="/web215/contract.html">Contract</a> |
                <a href="/web215/brand.html">Brand</a> 
            </nav>
            
    </header>
</html>