<html>
<footer> 
    <div class="footer-left">
        <div class="slogan">Brewed with<span class="magic">MAGIC,</span> Served with<span class="fire">Fire.</span></div>
        <div><em>Designed by Connor Emery - Certified in <a href="https://www.freecodecamp.org/certification/cbgb704/responsive-web-design">Responsive Web Design</a></em></div>
    </div>
        <nav>
            <a href="https://github.com/cbgb704">GitHub</a> |
            <a href="https://cbgb704.github.io/">GitHub.io</a> |
            <a href="https://cbgb704.github.io/web115/">WEB115.io</a> |
            <a href="https://www.codecademy.com/profiles/cbgb704">Codecademy</a> |  
            <a href="https://www.freecodecamp.org/cbgb704">freeCodeCamp</a> |
            <a href="https://jsfiddle.net/u/cbgb704/fiddles/">JSFiddle</a> |
            <a href="https://www.linkedin.com/in/connor-emery-b68708323/">LinkedIn</a>
        </nav>
</footer>
</html>
