<html>
  <header>  
    <img src="/images/inlinellogo.png" class="logo"><h1>Connor Emery's Dragon's Lair Café</h1>
    <nav>
      
       <a href="./index.html">Home</a> |
       <a href="./introduction.html">Introduction</a> |
       <a href="./contract.html">Contract</a> |
       <a href="./brand.html">Brand</a>
       <br>
       FizzBuzz: <a href="./fizzbuzz0.html">0</a> | 
       <a href="./fizzbuzz1.html"> 1 </a> | 
       <a href="./fizzbuzz2.html"> 2 </a> |
       <a href="./fizzbuzz3.html"> 3 </a> |
       <a href="./fizzbuzz4.html"> 4 </a>
    </nav>
    </header>
</html>