body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: greenyellow;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.section p {
    margin: 5px 0;
}