<html>
    <header>  
    <h1>Connor Emery's Funky Monky | WEB115 </h1>
    <div class="nav-container">
      <h4>
       <a href="./index.html">Home</a>|
       <a href="./introduction.html">Introduction</a>|
       <a href="./contract.html">Contract</a>|
       <a href="./brand.html">Brand</a>
       <br>
       <a href="/fizzbuzz0.html">FizzBuzz0</a>| 
       <a href="/fizzbuzz1.html">FizzBuzz1</a>| 
       <a href="/fizzbuzz2.html">FizzBuzz2</a>
     </h4>
    </div>
    </header>
</html>