body {
  background: #F9EBE0;
  color: #0D2149;
  min-height: 100vh;
  font-family: "Comic Neue", serif;
  font-weight: 525;
  font-size: large;
  
}
body, html {
    height:100%;
    margin: 0 auto;
    padding: 0;
    font-size:large;
    line-height:25px;
}

main {
  max-width: 900px;
  width: 90%;
  font-style: normal;
  margin: 20px auto;
}

h1 {
  color: #085d3a;
  font-family: "Lilita One", serif;
  text-align: center;
  font-weight: 400;
}
h2, h3, h4 {
  color: #085d3a;
  font-family: "Lilita One", serif;
  text-align: center;
  font-weight: 400;
}
ul {
  text-align: left;
}
a {
  color: #02a88c;
  font-family: "Comic Neue", serif;
  text-decoration: none;
}


header {
  background-color: #eee1d3; 
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: auto;
}
footer {
  background-color: #eee1d3; 
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: auto;
}