body {
  background: #F9EBE0;
  color: #0D2149;
  min-height: 100vh;
  text-align: center;
  font-family: "Comic Neue", serif;
  font-weight: 525;
  font-size: medium;
}

h1 {
  color: #08462c;
  font-family: "Lilita One", serif;
  text-align: center;
  font-weight: 400;
}
h2, h3, h4 {
  color: #2a664d;
  font-family: "Lilita One", serif;
  text-align: center;
  font-weight: 400;
}
ul {
  text-align: left;
}
a {
  color: #208AAE;
  font-family: "Comic Neue", serif;
  text-decoration: none;
}

a:hover {
  background-color: #0D2149;
}

