@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #80320ebd; 
    background-color: #b1b1b1; 
    margin: 0; 
    padding: 0; 
    position:relative;
    font-size: 18px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
body, html {
    height:100%;
    margin: 0;
    padding:0;
}

main {
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin:15px;
}
.statement {
    text-align:center;
}

header {
    background-color: rgb(214, 214, 214); 
    padding: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto;
}


.nav-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end; 
    gap: 20px; 
    max-width: 60%; 
    padding: 0;
    row-gap: 0;
}

h1 {
    font-family: 'Uncial Antiqua', serif; 
    color: rgb(82, 105, 17);
    margin: 0; 
    font-size: 2.5em; 
    white-space: nowrap;
}

h2 {
    font-family: 'Uncial Antiqua', serif; 
    color: #526A11;
    margin: 15px; 
    font-size: 2em; 
}

.header-img { 
    height: auto; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: #526a11;
    margin:15px;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
    margin: 25px;
}

.container {
    max-width: 1200px; 
    margin: 25 auto; 
}
.link {
    color: #526a11;
    text-decoration: none;
}
  
a:hover {
    color: #ffffff;
  }
 
form {
    margin:  25px;
}
footer {
    background-color: #D6D6D6; 
    padding: 10px;
    text-align: right;
    font-size: 0.9em;
; 
}
