@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #5e1e00; 
    background-color: #e7ceb1; 
    margin: 0 auto; 
    padding: 0; 
    position: relative;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:1200;
}
body, html {
    height:100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px auto;
    max-width: 80%;
}

.nav-container {
    display: flex;
    justify-content: flex-end; 
    gap: 15px; 
    max-width: 50%; 
    font-size:1.25em;
}

h1 {
    font-family: 'Uncial Antiqua', serif; 
    color: #485f08;
    margin: 0; 
    font-size: 3.5em; 
    white-space: break-spaces;
}

h2 {
    font-family: 'Uncial Antiqua', serif; 
    color: #537001;
    margin: 15px; 
    font-size: 3em; 
}

h3 {
    font-family: "Roboto", sans-serif;
    color: #537001;
    margin:15px;
    font-size: 2em;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: #537001;
    margin:15px;
    font-size: 1.65em;
}

h5 {
    font-family: "Roboto", sans-serif;
    color: #537001;
    margin:15px;
    font-size: 1.25em;
}

h6 {
    font-family: "Roboto", sans-serif;
    color: #5e1e00;
    margin:15px;
    font-size: 1.25em;
}

figcaption {
    text-indent:15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

p {
    line-height: 2.25em;
    margin-bottom: 1em;
    margin: 25px;
    font-size: 25px;
}

.container {
    max-width: 1200px; 
    margin: 25 auto; 
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    max-width:100%;
}

.text-content {
    max-width: 69%;
    line-height: 2;
}

.framed {
   outline: 1.25cm ridge #dcbf9e;
}

.inline-right {
    max-width: 35%; 
    margin-right: 50px;
}

.inline-left { 
    margin-left: 40px;
    outline: 1cm ridge #dcbf9e;
}

a {
    color: #537001;
    text-decoration: underline;
}

header {
    background-color: #dcbf9e; 
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto;
}

header a {
    text-decoration:none;
    color: #485f08;
}

footer {
    background-color: #dcbf9e; 
    padding: 16px;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #485f08;
}

a:hover {
    color: #5e1e00;
}


form {
    margin:  25px;
}