@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: #5e1e00; 
    background-color: #e7ceb1; 
    margin: 0 auto; 
    padding: 0; 
    position: relative;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
body, html {
    height:100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px auto;
    max-width: 80%;
}

header {
    background-color: #dcbf9e; 
    padding: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto;
}

.nav-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end; 
    gap: 20px; 
    max-width: 60%; 
    padding: 0; 
    row-gap: 0; 
}

h1 {
    font-family: 'Uncial Antiqua', serif; 
    color: #485f08;
    margin: 0; 
    font-size: 2.5em; 
    white-space: nowrap;
}

h2 {
    font-family: 'Uncial Antiqua', serif; 
    color: #537001;
    margin: 15px; 
    font-size: 2em; 
}

figcaption {
    text-indent:15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: #537001;
    margin:15px;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
    margin: 25px;
    font-size: 20px;
}

.container {
    max-width: 1200px; 
    margin: 25 auto; 
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    max-width:100%;
}

.text-content {
    max-width: 69%;
}

.framed {
   outline: 1.25cm ridge #dcbf9e;
}

.inline-right {
    max-width: 35%; 
    margin-right: 50px;
}

.inline-left { 
    margin-left: 20px;
}

a {
    color: rgb(83, 112, 1);
    text-decoration: underline;
}
  
header a {
    padding-right:5px;
    text-decoration:none;
    color: #485f08;
}

a:hover {
    color: #5e1e00;
}
 
form {
    margin:  25px;
}

footer {
    background-color: #dcbf9e; 
    padding: 8px;
    text-align: right;
    font-size: 0.9em;
}
