@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: Arial, sans-serif; 
    color: #000000; 
    background-color: #9B9B9B; 
    margin: 0; 
    padding: 0; 
    position:relative;
    font-size: 18px;
}

header {
    background-color: rgb(214, 214, 214); 
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

h1 {
    font-family: 'Uncial Antiqua', serif; 
    color: rgb(82, 105, 17);
    margin: 5px; 
    font-size: 2.5em; 
}

h2 {
    font-family: 'Uncial Antiqua', serif; 
    color: #526A11;
    margin: 10px; 
    font-size: 2em; 
}

.header-img { 
    height: auto; 
}

.top-right {
    position: absolute;
    display: flex;
    top: 130px;
    right: 0;
}

.top-right image {
    display: block;
    max-width: 100%;
    height: auto;
}


h3, h4, h5, h6 {
    font-family: 'Arial', serif; 
    color: #526a11;
    margin:15px;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
    margin: 15px;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Footer Styles */
footer {
    background-color: #D6D6D6; 
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
}
  /* Link Styles */
a:link {
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: #526a11;
  }